/*
 * Default style sheet on Windows Platforms
 */

ads--CDockContainerWidget
{
    background: #121212;
}

ads--CDockAreaWidget
{
    background: #121212;
}

ads--CDockAreaTabBar #tabsContainerWidget
{
    background: #121212;
}

ads--CDockWidgetTab {
	background: palette(window);
	border-color: palette(light);
	border-style: solid;
	border-width: 0 1px 0 0;
	padding: 0 0px;
}

ads--CDockAreaWidget #tabsGroupButton
{
    border: none;
    margin-left: 1px;
    margin-bottom: 1px;
}

ads--CDockAreaWidget #tabsGroupButton::menu-indicator
{
    image: none;
}

ads--CDockAreaWidget #tabsGroupButton:hover
{
        background-color: rgb(60,60,60);
        border: none;
}

ads--CDockAreaWidget #tabsGroupButton:pressed
{
        background: rgba(0, 0, 0, 32);
        border: none;
}

ads--CDockAreaTitleBar
{
    background: #121212;
}

ads--CDockAreaTitleBar #buttonsContainer
{
    margin-left: 1px;
    margin-bottom: 1px;
    background: palette(alternate-base);
}

ads--CDockWidgetTab
{
    background: palette(alternate-base);
    margin-bottom: 1px;
    border: none;
}

ads--CDockWidgetTab[activeTab="true"]
{
    background: palette(window);
    margin-bottom: 0px;
}

ads--CDockWidgetTab QLabel
{
    color: palette(foreground);
}

ads--CDockWidget {
	background: palette(light);
        border-color: palette(light);
        border-style: solid;
        border-width: 1px 0 0 0;
}

ads--CDockWidget
{
    background: palette(light);
    border: 1px solid palette(window);
}

ads--CDockWidget[selected="true"]
{
    border: 1px solid palette(highlight);
}

ads--CTitleBarButton
{
    padding: 0px 0px;
}

QScrollArea#dockWidgetScrollArea {
    padding: 0px;
    border: none;
}


ads--CDockWidgetTab #tabCloseButton
{
	background: none;
	border: none;
        padding: 0px 0px;
        image: url(":/icons/resources/CloseWindowIcon.png");
	qproperty-icon: url(:/ads/images/close-button.svg),
		url(:/ads/images/close-button-disabled.svg) disabled;
	qproperty-iconSize: 16px;
}

ads--CDockAreaWidget #tabCloseButton:hover
{
        background-color: rgb(60, 60, 60);
}

ads--CDockAreaWidget #tabCloseButton:pressed
{
	background: rgba(0, 0, 0, 32);
}

ads--CDockAreaWidget #undockButton
{
    background: none;
    border: none;
    padding: 0px 0px;
    image: url(":/icons/resources/MinimizeWindowIcon.png");
}

#tabsMenuButton::menu-indicator {
	image: none;
}

ads--CDockAreaWidget #closeButton
{
    background: none;
    border: none;
    padding: 0px 0px;
    image: url(":/icons/resources/CloseWindowIcon.png");
}


#tabsMenuButton {
	qproperty-icon: url(:/ads/images/tabs-menu-button.svg);
	qproperty-iconSize: 16px;
}

#dockAreaCloseButton {
	qproperty-icon: url(:/ads/images/close-button.svg),
		url(:/ads/images/close-button-disabled.svg) disabled;
	qproperty-iconSize: 16px;
}

#detachGroupButton {
	qproperty-icon: url(:/ads/images/detach-button.svg),
		url(:/ads/images/detach-button-disabled.svg) disabled;
	qproperty-iconSize: 16px;	
}
