
/*
 * Default style sheet on Windows Platforms
 * Note: Always use CSS-classes with and without "ads--" namespace to support Qt4 & Qt5
 */

ads--CDockContainerWidget
{
    background: #2e2e2e;
}

ads--CDockAreaWidget
{
    background: #2e2e2e;
}

ads--CDockAreaTabBar #tabsContainerWidget
{
    background: #2e2e2e;
}

ads--CDockAreaWidget #tabsMenuButton::menu-indicator
{
    image: none;
}

ads--CDockAreaWidget #tabsGroupButton
{
    border: none;
    margin-left: 1px;
    margin-bottom: 1px;
}

ads--CDockAreaWidget #tabsGroupButton::menu-indicator
{
    image: none;
}

ads--CDockAreaWidget #tabsGroupButton:hover
{
        background-color: rgb(60,60,60);
        border: none;
}

ads--CDockAreaWidget #tabsGroupButton:pressed
{
        background: rgba(0, 0, 0, 32);
        border: none;
}

ads--CDockAreaTitleBar
{
    background: #2e2e2e;
}

ads--CDockAreaTitleBar #buttonsContainer
{
    margin-left: 1px;
    margin-bottom: 1px;
    background: palette(window);
}

ads--CDockWidgetTab
{
    background: palette(window);
    margin-bottom: 1px;
    border: none;
}

ads--CDockWidgetTab[activeTab="true"]
{
    background: palette(base);
    margin-bottom: 0px;
}

ads--CDockWidgetTab QLabel
{
    color: palette(foreground);
}

ads--CDockWidgetTab[activeTab="true"] QLabel
{
    color: palette(foreground);
}

ads--CDockWidget
{
    background: palette(light);
    border: 1px solid palette(window);
}

ads--CDockWidget[selected="true"]
{
    border: 1px solid palette(highlight);
}

ads--CTitleBarButton
{
    padding: 0px 0px;
}


QScrollArea#dockWidgetScrollArea
{
    padding: 0px;
    border: none;
}


ads--CDockWidgetTab #tabCloseButton
{
	background: none;
	border: none;
        padding: 0px 0px;
        image: url(":/icons/resources/CloseWindowIcon.png");
}

ads--CDockAreaWidget #tabCloseButton:hover
{
        background-color: rgb(60, 60, 60);
}

ads--CDockAreaWidget #tabCloseButton:pressed
{
	background: rgba(0, 0, 0, 32);
}

ads--CDockAreaWidget #undockButton
{
    background: none;
    border: none;
    padding: 0px 0px;
    image: url(":/icons/resources/MinimizeWindowIcon.png");
}

ads--CDockAreaWidget #closeButton
{
    background: none;
    border: none;
    padding: 0px 0px;
    image: url(":/icons/resources/CloseWindowIcon.png");
}


